@media screen {
    pre code.hljs,
    main > pre > code {
        display: block;
        overflow-x: auto;
        padding: 1em
    }

    .hljs,
    main > pre > code {
        background: #191724;
        color: #e0def4
    }

    .hljs-keyword {
        color: #c4a7e7;
        font-style: italic
    }

    .hljs-built_in {
        color: #9ccfd8;
        font-style: italic
    }

    .hljs-type {
        color: #9ccfd8
    }

    .hljs-literal {
        color: #eb6f92
    }

    .hljs-number {
        color: #f6c177
    }

    .hljs-regexp {
        color: #31748f
    }

    .hljs-string {
        color: #f6c177
    }

    .hljs-subst {
        color: #eb6f92
    }

    .hljs-symbol {
        color: #9ccfd8
    }

    .hljs-class {
        color: #ebbcba
    }

    .hljs-function {
        color: #ebbcba
    }

    .hljs-title {
        color: #ebbcba;
        font-style: italic
    }

    .hljs-params {
        color: #908caa
    }

    .hljs-comment {
        color: #6e6a86;
        font-style: italic
    }

    .hljs-doctag {
        color: #9ccfd8
    }

    .hljs-meta {
        color: #908caa
    }

    .hljs-meta .hljs-keyword {
        color: #908caa
    }

    .hljs-meta .hljs-string {
        color: #f6c177
    }

    .hljs-section {
        color: #c4a7e7
    }

    .hljs-tag,
    .hljs-name {
        color: #ebbcba
    }

    .hljs-attr {
        color: #c4a7e7
    }

    .hljs-attribute {
        color: #9ccfd8
    }

    .hljs-variable {
        color: #e0def4
    }

    .hljs-bullet {
        color: #9ccfd8
    }

    .hljs-code {
        color: #c4a7e7
    }

    .hljs-emphasis {
        color: #c4a7e7;
        font-style: italic
    }

    .hljs-strong {
        color: #f6c177;
        font-weight: bold
    }

    .hljs-formula {
        color: #c4a7e7
    }

    .hljs-link {
        color: #eb6f92
    }

    .hljs-quote {
        color: #908caa;
        font-style: italic
    }

    .hljs-selector-tag {
        color: #ebbcba
    }

    .hljs-selector-id {
        color: #f6c177
    }

    .hljs-selector-class {
        color: #9ccfd8;
        font-style: italic
    }

    .hljs-selector-attr,
    .hljs-selector-pseudo {
        color: #c4a7e7;
        font-style: italic
    }

    .hljs-template-tag {
        color: #c4a7e7
    }

    .hljs-template-variable {
        color: #9ccfd8
    }

    .hljs-addition {
        color: #9ccfd8;
        font-style: italic
    }

    .hljs-deletion {
        color: #eb6f92;
        font-style: italic
    }
}
